@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Rose:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Red+Rose:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Rose:wght@300..700&family=Style+Script&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root{
  margin: 0;
  padding: 0;
  color: #111827;
  font-family: 'Montserrat';
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}

::-webkit-scrollbar {
  display: none;
}
.styled{
  font-family: "Style Script", serif;
}


/* Remove default table styles */
table {
  border-collapse: collapse; /* Remove default spacing between table cells */
  width: 100%; /* Ensure table spans full container width */
  margin: 0;
  padding: 0;
}

/* Remove default padding and borders */
table, th, td {
  border: none; /* Remove default borders */
  margin: 0;
  padding: 0;
}

/* Reset table headers */
th {
  text-align: left; /* Left-align header text */
  font-weight: normal; /* Reset font weight */
  background: none; /* Remove background */
  padding: 0; /* Remove padding */
  border-bottom: none; /* Remove bottom border */
}

/* Reset table rows */
tr {
  background: none; /* Remove default row background */
  margin: 0;
  padding: 0;
}

/* Reset table cells */
td {
  margin: 0;
  padding: 0; /* Remove default padding */
  border: none; /* Remove default borders */
  background: none; /* Remove default background */
}
